@import '../../App.css';

.bg-inicio{
    background-color: var(--ColorSecundario);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.img{

}

.ml-3{
    margin-left: 3px;
}

nav{
    font-weight: 600;
}