@import '../../../App.css';

.list-group-dashboard{
    background-color: none;
    --bs-list-group-bg: none !important;
}

.list-group-dashboard li:hover{
    cursor: pointer;
    font-weight: 600;
}