:root {
  --ColorPrimario: #4abcad;
  --ColorSecundario: #ff491b;
  --ColorTerciario: #f8b732;
  --BtnOk: #3ec47e;
  --BtnOkEncima: #13c167;
  --BtnCancelar: #e44e3f;
  --BtnCancelarEncima: #e32614;
}

.btn-ok{
  background-color: var(--BtnOk);
}

.btn-ok:hover{
  background-color: var(--BtnOkEncima);
  font-weight: 600;
}